 
 uvicorn ffmpeg librosa numpy  soundfile    uvicorn fastapi     feature_extractor   transformers   typing einops tqdm scipy 
 
 pandas 
 
  matplotlib contextlib3 gruut typeguard yaml 

 pip install  pypinyin jieba_fast  

 pip install gruut contextlib3 gruut typeguard pyaml cn2an pypinyin jieba_fast