numpy==1.26.4
scipy==1.12.0
numba==0.56.4
librosa==0.10.1
pytorch-lightning
ffmpeg==1.4
tqdm==4.66.2
AR==0.8
einops==0.7.0
fastapi==0.109.2
feature_extractor==0.0.1
soundfile==0.12.1
text==1.0.0 
torchaudio
transformers==4.38.1
uvicorn==0.27.1
sentencepiece 
chardet
PyYAML
psutil
jieba_fast
pytorch-lightning